$light-grey: #808080;

.flag-list {

  span i {
    cursor: pointer;
  }

  .table {
    margin-top: 20px;

    tr {
      cursor: pointer;
      border: 1px solid $light-grey;
    }


    td {
      padding: 32px 20px;
    }
  }
}
