.link-individual-form {
  min-height: 250px;

  .type-ahead-input {
    .dropdown
    ,.dropdown .dropdown-trigger
    ,.dropdown .dropdown-menu {
      width: 100%;
      max-width: 100%;
    }
  }
}
